:root {
    --yellow: #feca19;
    --pruplelogo: #5f0c61;
    --purple2: #7d0065;
    --orange: #ff9200;
    --pink: #fd683f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: linear-gradient(to right, #ff9100d0, #7d0064cc);
    color:#feca19;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}


.logo {
    margin-left: 10px;
}

.contact {
    width: 8rem;
    padding: 2px;
    border: 1px solid #ff9200;
    background-color: #ff9200;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

a:link,
a:visited {
    text-decoration: none;
}

body {
    color: #feca19;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/pets.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}

form {
    height: 480px;
    width: 400px;
    background-color: #7d006465;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    margin-top: 130px;
    margin-bottom: 130px;
}

form * {
    color: white;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #ff9200;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #5f0c61;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ff9200;
    color: #5f0c61;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
#logout {
    background-color: #feca19;
    width: 80px;
    padding:5px ;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.fixedbutton {
    color: #feca19;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 5rem;
    padding: 3px;
    background-color: #5f0c61;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    z-index: 2;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(to right, #7d0064cc, #ff9100d0);
    width: 100%;
    padding: 18px;
}

footer a {
    color: black;
}

.second,
.third {
    display: flex;
    flex-direction: column;
}

.second a,
.third a {
    margin-top: 20px;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.self-center {
    display: flex;
    align-items: center;
    color: black;
}

.meimeg {
    display: flex;
    flex-direction: column;
}


.factbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 20rem;
    background-color: #5f0c6196;
    border: 2px solid black;
    padding: 10px;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
#dog-fact {
    width: 100px;
    padding: 8px;
    position: relative;
    bottom: 20px;
    
}